---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/balances
    body:
      encoding: US-ASCII
      string: clientId=2629&nonce=1480952177&signature=71A8EA17234C829D6C1C9D70A4F33C5B220A7E03CF483A367BDEE704AFFB553B
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"EUR":{"currency":"EUR","balance":16.64502607,"reserved":7.0035,"available":9.64152607},"CZK":{"currency":"CZK","balance":10.00000243,"reserved":0,"available":10.00000243},"BTC":{"currency":"BTC","balance":0.03647412,"reserved":0.02,"available":0.01647412}}}'
  recorded_at: Mon, 05 Dec 2016 15:36:18 GMT
recorded_with: VCR 3.0.1
