---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/balances?clientId=2629&nonce=145673623941&signature=96834CC5AB4E9A6F25A59F16B5EC0B25E761063BE3A8E66D0EDCCAC4F7ED39F6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"EUR":{"currency":"EUR","balance":44.53277936,"reserved":9.97010256,"available":34.56267680},"BTC":{"currency":"BTC","balance":0.02533462,"reserved":0.01,"available":0.01533462}}}'
  recorded_at: Mon, 29 Feb 2016 08:57:20 GMT
- request:
    method: post
    uri: https://coinmate.io/api/balances?clientId=2629&nonce=145673625982&signature=18608F0EA334D1C37A82C2F08FE1DBF829C7090AC5905EA65884012EFA4B094E
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"EUR":{"currency":"EUR","balance":44.53277936,"reserved":9.97010256,"available":34.56267680},"BTC":{"currency":"BTC","balance":0.02533462,"reserved":0.01,"available":0.01533462}}}'
  recorded_at: Mon, 29 Feb 2016 08:57:40 GMT
recorded_with: VCR 3.0.1
