---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders
    body:
      encoding: US-ASCII
      string: currencyPair=BTC_EUR&clientId=2629&publicKey=AH1VeiZUPQFq-QAcYbZ5Yjuy_yGijK6y3l6hkM66mx4&nonce=1556379011&signature=93BFA329BEC7006DA5DEA48E506CD89899CD4C71ACADE7341D64D31221BBD61D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":292596028,"timestamp":1556378795768,"trailingUpdatedTimestamp":null,"type":"SELL","currencyPair":"BTC_EUR","price":5000,"amount":0.004,"stopPrice":null,"originalStopPrice":null,"marketPriceAtLastUpdate":null,"marketPriceAtOrderCreation":null,"orderTradeType":"LIMIT","hidden":false,"trailing":false,"clientOrderId":null},{"id":292595840,"timestamp":1556378774657,"trailingUpdatedTimestamp":null,"type":"BUY","currencyPair":"BTC_EUR","price":4000,"amount":0.00498753,"stopPrice":null,"originalStopPrice":null,"marketPriceAtLastUpdate":null,"marketPriceAtOrderCreation":null,"orderTradeType":"LIMIT","hidden":false,"trailing":false,"clientOrderId":null}]}'
  recorded_at: Sat, 27 Apr 2019 15:30:12 GMT
- request:
    method: post
    uri: https://coinmate.io/api/cancelOrder
    body:
      encoding: US-ASCII
      string: orderId=292596028&clientId=2629&publicKey=AH1VeiZUPQFq-QAcYbZ5Yjuy_yGijK6y3l6hkM66mx4&nonce=1556379012&signature=EA788CE232904997E339AFC7062C2C9B1A2AB798223227340238C42F99DEAAAF
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":true}'
  recorded_at: Sat, 27 Apr 2019 15:30:13 GMT
[...]
- request:
    method: post
    uri: https://coinmate.io/api/cancelOrder
    body:
      encoding: US-ASCII
      string: orderId=292595840&clientId=2629&publicKey=AH1VeiZUPQFq-QAcYbZ5Yjuy_yGijK6y3l6hkM66mx4&nonce=1556379014&signature=8E257F664EF76F69D6424508540F421FAD88337DCE01D36D296325FB50DD587F
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":true}'
  recorded_at: Sat, 27 Apr 2019 15:30:16 GMT
recorded_with: VCR 4.0.0
