---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders
    body:
      encoding: US-ASCII
      string: currencyPair=BTC_EUR&clientId=2629&nonce=1480957244&signature=7E5A4E3E3CC96A10D61D37F5BBBBD49BAACDCE7A0D219605038F57F414993810
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":9737946,"timestamp":1480951952327,"type":"SELL","price":725,"amount":0.02},{"id":9737945,"timestamp":1480951950543,"type":"BUY","price":350,"amount":0.02}]}'
  recorded_at: Mon, 05 Dec 2016 17:00:45 GMT
- request:
    method: post
    uri: https://coinmate.io/api/cancelOrder
    body:
      encoding: US-ASCII
      string: orderId=9737945&clientId=2629&nonce=1480957245&signature=73C491806BE2CC9CD72B0D3A310993A6B012DF065D305D470A01D77DCC68D07E
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":true}'
  recorded_at: Mon, 05 Dec 2016 17:00:46 GMT
[...]
- request:
    method: post
    uri: https://coinmate.io/api/cancelOrder
    body:
      encoding: US-ASCII
      string: orderId=9737946&clientId=2629&nonce=1480957247&signature=EF66CD0D2943A5AA577E6C3E7E63A4E17138115C513ECAC13CB20B9E44AD6EE8
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":true}'
  recorded_at: Mon, 05 Dec 2016 17:00:49 GMT
recorded_with: VCR 3.0.1
