---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders
    body:
      encoding: US-ASCII
      string: currencyPair=BTC_EUR&clientId=2629&nonce=1480956765&signature=F65159A7CDECA81180CADF5E4A254B04533DAB225F081B8167E725C5B0515D59
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":9737946,"timestamp":1480951952327,"type":"SELL","price":725,"amount":0.02},{"id":9737945,"timestamp":1480951950543,"type":"BUY","price":350,"amount":0.02}]}'
  recorded_at: Mon, 05 Dec 2016 16:52:46 GMT
recorded_with: VCR 3.0.1
