---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/orderBook?currencyPair=BTC_EUR&groupByPriceLimit=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"asks":[{"price":710.9,"amount":0.04},{"price":710.91,"amount":0.2389556},{"price":711.01,"amount":5},{"price":712.26,"amount":0.8116528},{"price":712.27,"amount":0.37},{"price":712.4,"amount":0.57},{"price":712.54,"amount":0.01417354},{"price":713.4,"amount":8.72153875},{"price":713.54,"amount":0.01415348},{"price":714.54,"amount":0.01413348},{"price":714.86,"amount":0.50321714},{"price":714.99,"amount":4.73655559},{"price":715.54,"amount":0.01411353},{"price":716.54,"amount":0.01409364},{"price":717.36,"amount":0.43039037},{[...]
