---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/orderBook?currencyPair=BTC_EUR&groupByPriceLimit=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"asks":[{"price":393.83,"amount":0.30947198},{"price":393.93,"amount":0.01635127},{"price":393.96,"amount":0.01794565},{"price":394.03,"amount":0.13778473},{"price":394.07,"amount":0.03549362},{"price":394.09,"amount":0.4075315},{"price":394.27,"amount":0.20404873},{"price":394.4,"amount":0.63168295},{"price":394.45,"amount":0.01632968},{"price":394.46,"amount":0.00577192},{"price":394.57,"amount":0.23880601},{"price":394.59,"amount":0.56917196},{"price":394.6,"amount":0.20334659},{"price":394.79,"amount":0.42053743},{"price":3[...]
