---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders?clientId=2629&currencyPair=BTC_EUR&nonce=145673852849&signature=4C738B2320F2613C1F08E948638CA3BCC500D60B64F04FE8ABAE277CE9BBCDA6
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":3611161,"timestamp":1456736191950,"type":"SELL","price":405,"amount":0.01},{"id":3611158,"timestamp":1456736153726,"type":"BUY","price":380,"amount":0.026224}]}'
  recorded_at: Mon, 29 Feb 2016 09:35:28 GMT
recorded_with: VCR 3.0.1
