---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/orderBook?currencyPair=BTC_CZK&groupByPriceLimit=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"asks":[{"price":180100,"amount":0.00126278},{"price":180377.6,"amount":1.67066532},{"price":180479.94,"amount":0.12162191},{"price":180485.06,"amount":0.07059403},{"price":180494.45,"amount":0.06562807},{"price":180517.37,"amount":0.11492396},{"price":180602.54,"amount":0.01},{"price":180690.93,"amount":0.01},{"price":180910.36,"amount":0.00229147},{"price":180910.37,"amount":0.12162191},{"price":180914.95,"amount":0.85751016},{"price":180915.49,"amount":0.07059403},{"price":180924.88,"amount":0.06562807},{"price":180947.81,"a[...]
