---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders
    body:
      encoding: US-ASCII
      string: currencyPair=BTC_EUR&clientId=2629&publicKey=AH1VeiZUPQFq-QAcYbZ5Yjuy_yGijK6y3l6hkM66mx4&nonce=1556378830&signature=3BA29FD58E4D9AD31E83781325728B2168BFB79517D54654DDFA0F2A015FD27C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":292596028,"timestamp":1556378795768,"trailingUpdatedTimestamp":null,"type":"SELL","currencyPair":"BTC_EUR","price":5000,"amount":0.004,"stopPrice":null,"originalStopPrice":null,"marketPriceAtLastUpdate":null,"marketPriceAtOrderCreation":null,"orderTradeType":"LIMIT","hidden":false,"trailing":false,"clientOrderId":null},{"id":292595840,"timestamp":1556378774657,"trailingUpdatedTimestamp":null,"type":"BUY","currencyPair":"BTC_EUR","price":4000,"amount":0.00498753,"stopPrice":null,"originalStopPrice":null,"marketPriceAtLastUpdate":null,"marketPriceAtOrderCreation":null,"orderTradeType":"LIMIT","hidden":false,"trailing":false,"clientOrderId":null}]}'
  recorded_at: Sat, 27 Apr 2019 15:27:12 GMT
recorded_with: VCR 4.0.0
