---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/openOrders
    body:
      encoding: US-ASCII
      string: currencyPair=BTC_EUR&clientId=2629&publicKey=LX4z8o5p00_0aZtbU-3TydoBY8VTawhkIDzj7t2vUio&nonce=1508697873&signature=C5E5ADB5E65A9CE6731158271C92A02C9804D0D37F29D6546A3EEAF29B2EF676
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":30974298,"timestamp":1508697854886,"type":"SELL","currencyPair":"BTC_EUR","price":6000,"amount":0.00078526},{"id":30971010,"timestamp":1508696314821,"type":"BUY","currencyPair":"BTC_EUR","price":4000,"amount":0.00378365}]}'
  recorded_at: Sun, 22 Oct 2017 18:44:34 GMT
recorded_with: VCR 3.0.3
