---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/transactions?minutesIntoHistory=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"timestamp":1480951251433,"transactionId":"284285","price":711.01,"amount":0.3,"currencyPair":"BTC_EUR"},{"timestamp":1480951237277,"transactionId":"284282","price":711.01,"amount":1.1210444,"currencyPair":"BTC_EUR"},{"timestamp":1480951235873,"transactionId":"284279","price":710.91,"amount":0.2389556,"currencyPair":"BTC_EUR"},{"timestamp":1480951235319,"transactionId":"284277","price":710.9,"amount":0.04,"currencyPair":"BTC_EUR"},{"timestamp":1480951128778,"transactionId":"284274","price":710.91,"amount":0.36,"currencyPair":"BTC_EUR"},{"timestamp":1480951128259,"transactionId":"284272","price":710.9,"amount":0.04,"currencyPair":"BTC_EUR"}]}'
  recorded_at: Mon, 05 Dec 2016 15:26:00 GMT
recorded_with: VCR 3.0.1
