---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/ticker?currencyPair=BTC_EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"last":711.01,"high":730.69,"low":705,"amount":139.41507092,"bid":709.88,"ask":711,"timestamp":1480951456}}'
  recorded_at: Mon, 05 Dec 2016 15:24:15 GMT
recorded_with: VCR 3.0.1
