---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/ticker?currencyPair=BTC_CZK
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"last":179313.35,"high":180000,"low":172000,"amount":98.17279234,"bid":179300,"ask":179900,"change":1.91,"open":175950.81,"timestamp":1511271993}}'
  recorded_at: Tue, 21 Nov 2017 13:46:33 GMT
recorded_with: VCR 3.0.3
