---
http_interactions:
- request:
    method: get
    uri: https://coinmate.io/api/ticker?currencyPair=BTC_EUR
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":{"last":391.06,"high":394,"low":385.91,"amount":83.11065935,"bid":392.23,"ask":392.49,"timestamp":1456692517}}'
  recorded_at: Sun, 28 Feb 2016 20:48:39 GMT
recorded_with: VCR 3.0.1
