---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/unconfirmedBitcoinDeposits
    body:
      encoding: US-ASCII
      string: clientId=2629&nonce=1480959678&signature=880BF4F8A7E5B14570DBC725105C46EE3AE3620FAEACD2C2E7C16CB5D3E28AB7
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":284448,"amount":0.005,"address":null,"numberOfConfirmations":0}]}'
  recorded_at: Mon, 05 Dec 2016 17:41:20 GMT
recorded_with: VCR 3.0.1
