---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/unconfirmedBitcoinDeposits?clientId=2629&nonce=145674281659&signature=68DA0DB031A90113CD163EDEC372B3910BB16F741BBFAE2540872F250E182685
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"id":121787,"amount":0.137,"address":null,"numberOfConfirmations":0}]}'
  recorded_at: Mon, 29 Feb 2016 10:46:57 GMT
recorded_with: VCR 3.0.1
