---
http_interactions:
- request:
    method: post
    uri: https://coinmate.io/api/transactionHistory
    body:
      encoding: US-ASCII
      string: offset=4&limit=2&clientId=2629&nonce=1480957001&signature=046F0ADD628914D5B8CD6C6A5829BB1519CA35CE98B245D37D81A15FD094B29C
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"error":false,"errorMessage":null,"data":[{"timestamp":1480945482259,"transactionId":284115,"transactionType":"BUY","price":707.89,"priceCurrency":"EUR","amount":0.005,"amountCurrency":"BTC","fee":0.01238807,"feeCurrency":"EUR","description":null,"status":"OK","orderId":9736364},{"timestamp":1480945439607,"transactionId":284107,"transactionType":"SELL","price":706.58,"priceCurrency":"EUR","amount":0.02,"amountCurrency":"BTC","fee":0.0494606,"feeCurrency":"EUR","description":null,"status":"OK","orderId":9736352}]}'
  recorded_at: Mon, 05 Dec 2016 16:56:42 GMT
recorded_with: VCR 3.0.1
